.profile-img {
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
}

.name, .skill, .tech {
    color: #dad7cd;
    padding: 0.6rem 0 0 1rem;
}

.sub-name {
    font-weight: 100;
}

.name {
    font-size: 24px;
}

.skill {
    font-size: 18px;
}