.profile-img {
    width: 18rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.name, .skill, .tech {
    text-align: center;
    color: #dad7cd;
    padding: 0.6rem 0 0 0;
}

.name {
    font-size: 24px;
}

.skill {
    font-size: 18px;
}