.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #344e41;
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: 2rem;
}

.social-icon {
    color: #dad7cd;
}